.food-table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.food-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.food-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.food-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.food-table table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.food-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.food-table tr:hover td{
	
}
.food-table tr:nth-child(odd){ background-color:#ffaa56; }
.food-table tr:nth-child(even)    { background-color:#ffffff; }.food-table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:15px;
	font-size:15px;
	font-family:Helvetica;
	font-weight:normal;
	color:#000000;
}.food-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.food-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.food-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.food-table tr:first-child td{
		background:-o-linear-gradient(bottom, #7f0000 5%, #ffaa56 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ffaa56) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #ffaa56 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ffaa56");	background: -o-linear-gradient(top,#7f0000,ffaa56);

	background-color:#7f0000;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.food-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f0000 5%, #ffaa56 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0000), color-stop(1, #ffaa56) );
	background:-moz-linear-gradient( center top, #7f0000 5%, #ffaa56 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f0000", endColorstr="#ffaa56");	background: -o-linear-gradient(top,#7f0000,ffaa56);

	background-color:#7f0000;
}
.food-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.food-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}